@use '../../../styles.scss' as *;

.section-main {
  display: flex;
  gap: 30px;
  position: relative;
  height: 342px;
  width: 100%;

  app-image-carousel:last-child {
    overflow-x: hidden;
  }
}
