<section class="image-slider">
  <div (mouseenter)="enter()" (mouseleave)="leave()" class="slider-wrapper">
    <img class="arrow-left arrow" (click)="previousImage()" src="assets/main/slider/slider-left-btn.svg" alt="next" />
    <div class="slider" [style.transform]="translateX">
      @for (image of imageArray; track $index) {
        <img (load)="onImageLoad($event, $index)" [src]="image.src" />
      }
    </div>
    <img class="arrow-right arrow" (click)="nextImage()" src="assets/main/slider/slider-right-btn.svg" alt="next" />
  </div>
</section>
