<section class="section-categories">
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/mobile.svg" alt="mobiles" />
      <span>მობილურები</span>
    </div>
  </div>
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/tablet.svg" alt="tablets" />
      <span>ტაბები</span>
    </div>
  </div>
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/IT.svg" alt="it" />
      <span>ლეპტოპები | IT</span>
    </div>
  </div>
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/smart_house.svg" alt="smart_house" />
      <span>სმარტ გაჯეტები</span>
    </div>
  </div>
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/speaker.svg" alt="gaming" />
      <span>აუდიო სისტემა</span>
    </div>
  </div>
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/joystick.svg" alt="tv" />
      <span>Gaming</span>
    </div>
  </div>
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/TV.svg" alt="camera" />
      <span>TV | მონიტორები</span>
    </div>
  </div>
  <div class="category">
    <div class="content">
      <img src="/assets/main/categories/photo_camera.svg" alt="camera" />
      <span>ფოტო | ვიდეო</span>
    </div>
  </div>
</section>
