@use '../../styles.scss' as *;

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;

  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    background: $orange-main;

    .header-contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: inherit;
      max-width: 1200px;
      padding: 10px 15px;
      color: $white-main;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.06px;

      .contact-number {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all 0.2s ease;
        h4 {
          margin: 0px;
          color: $white-main;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          @include medium;
        }

        &:hover {
          transform: scale(1.015);
        }

        img {
          min-width: 20px;
          min-height: 20px;
        }
      }

      .contact-other {
        display: flex;
        align-items: center;
        gap: 20px;

        h4 {
          cursor: pointer;
          transition: all 0.2s ease;
          margin: 0px;
          color: $white-main;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          opacity: 0.7;
          @include medium;

          &:hover {
            transform: scale(1.015);
            opacity: 1;
          }
        }

        .language {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 7px 10px;
          border-radius: 12px;
          background: $white-main;
          min-width: 48px;
          min-height: 38px;

          img {
            width: 28px;
            height: 18px;
            border-radius: 4px;
            filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
            object-fit: contain;
          }
        }
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    width: inherit;
    background: $gray-primary;

    .nav-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: inherit;
      background: $gray-primary;
      width: 100%;
      max-width: 1200px;
      margin: 0px auto;
      padding: 0px 15px;

      .bottom-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 70px;
        width: 100%;
        padding: 15px 0px;
        display: flex;
        align-items: center;
        gap: 100px;

        .logo {
          height: 44.55px;
          cursor: pointer;

          img {
            width: 151px;
            height: 40px;
          }
        }

        .main {
          display: flex;
          color: $white-main;
          font-size: 14px;
          line-height: 17px;
          gap: 20px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          .first {
            display: flex;
            gap: 20px;
            width: 100%;

            .navigation {
              background-color: $orange-main;
              width: 130px;
              border-radius: 12px;
              height: fit-content;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              padding: 10px;
              cursor: pointer;
              filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);

              h4 {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: $white-main;
                @include medium;
              }

              img {
                min-width: 20px;
                min-height: 20px;
              }
            }

            .search {
              display: flex;
              align-items: center;
              max-width: 400px;
              width: 100%;
              padding: 11px;
              background: $white-main;
              border-radius: 12px;
              gap: 15px;
              border: 1px $orange-primary solid;
              filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);

              input {
                border: none;
                outline: none;
                width: 90%;
                padding-top: 1px;

                &::placeholder {
                  @include regular;
                }
              }
            }
          }

          .second {
            display: flex;
            gap: 20px;
            .cart,
            .login {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              min-width: 130px;
              background: $white-main;
              color: $black-main;
              border-radius: 12px;
              gap: 10px;
              opacity: 0.8;
              filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
              cursor: pointer;

              div {
                font-size: 14px;
                line-height: 17px;
                font-weight: 500;
                @include medium;
              }

              img {
                min-width: 24px !important;
                min-height: 24px !important;
              }
            }

            .discount {
              display: flex;
              align-items: center;
              justify-content: center;
              min-width: 48px;
              background: $orange-main;
              border-radius: 12px;
              gap: 10px;
              padding: 10px;
              cursor: pointer;
              filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);

              h4 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                @include medium;
              }
            }
          }
        }
      }
    }
  }
}
