<footer>
  <div class="footer-wrapper">
    <div class="options-wrapper">
      <div class="options">
        <div class="option">
          <h4>ნავიგაცია</h4>
          <ul>
            <li>პერსონალურ მონაცემთა დაცვის პოლიტიკა</li>
            <li>ჩვენ შესახებ</li>
            <li>წესები და პირობები</li>
            <li>მიწოდების სერვისი</li>
            <li>კარიერა</li>
          </ul>
        </div>
        <div class="option">
          <h4>გადახდები</h4>
          <ul>
            <li>გადახდის მეთოდები</li>
            <li>გარანტია</li>
            <li>განვადება</li>
            <li>ნივთის დაბრუნება</li>
            <li>ნივთის ონლაინ ყიდვის ინსტრუქცია</li>
          </ul>
        </div>
        <div class="option">
          <h4>გამოგვყევი</h4>
          <ul>
            <li><img src="/assets/footer/fb.svg" alt="fb" />Facebook</li>
            <li><img src="/assets/footer/yt.svg" alt="yt" />Youtube</li>
            <li><img src="/assets/footer/ig.svg" alt="ig" />Instagram</li>
            <li><img src="/assets/footer/tt.svg" alt="tt" />Tik Tok</li>
          </ul>
        </div>
        <div class="option">
          <h4>კონტაქტი</h4>
          <ul>
            <li><img src="/assets/footer/gmail.svg" alt="gmail" />info&#64;zoommer.ge</li>
            <li><img src="/assets/footer/phone.svg" alt="phone" />+995 (32) 2 60 30 60 / *7007</li>
            <li><img src="/assets/footer/locations.svg" alt="location" />ფილიალები</li>
            <li><img src="/assets/footer/locations.svg" alt="location" />კორპორატიული გაყიდვები</li>
            <li>Zoommer App <img src="/assets/footer/e-360.svg" alt="ecommerce" /></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright-wrapper">
        <h5>Copyright © 2025 Zoommer.ge. All rights reserved.</h5>
      </div>
    </div>
  </div>
</footer>
