<footer>
  <div class="footer-wrapper">
    <div class="options-wrapper">
      <div class="option-wrapper">
        <div class="option">
          <h4>ნავიგაცია</h4>
        </div>
        <p class="option-text">პერსონალურ მონაცემთა დაცვის პოლიტიკა</p>
        <p class="option-text">ჩვენ შესახებ</p>
        <p class="option-text">წესები და პირობები</p>
        <p class="option-text">მიწოდების სერვისი</p>
        <p class="option-text">კარიერა</p>
      </div>
      <div class="option-wrapper">
        <div class="option">
          <h4>გადახდები</h4>
        </div>
        <p class="option-text">Setanta Sports</p>
        <p class="option-text">გადახდის მეთოდები</p>
        <p class="option-text">გარანტია</p>
        <p class="option-text">განვადება</p>
        <p class="option-text">ნივთის დაბრუნება</p>
        <p class="option-text">ნივთის ონლაინ ყიდვის ინსტრუქცია</p>
      </div>
      <div class="option-wrapper">
        <div class="option">
          <h4>გამოგვყევი</h4>
        </div>
        <a target="_blank" href="https://www.facebook.com/zoommerge/?ref=page_internal">
          <img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/fb.svg" />
          <p>Facebook</p>
        </a>
        <a target="_blank" href="https://www.youtube.com/user/WwwZoommerGe">
          <img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/yt.svg" />
          <p>Youtube</p>
        </a>
        <a target="_blank" href="https://www.instagram.com/zoommer.ge/?hl=en"
          ><img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/ig.svg" />
          <p>Instagram</p>
        </a>
        <a target="_blank" href="https://www.tiktok.com/@zoommer.ge">
          <img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/tt.svg" />
          <p>Tik Tok</p>
        </a>
      </div>
      <div class="option-wrapper">
        <div class="option">
          <h4>კონტაქტი</h4>
        </div>
        <a href="mailto:info&#64;zoommer.ge">
          <img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/gmail.svg" />
          <p>Infozoommer.ge</p>
        </a>
        <a href="tel:+995 32 2 60 30 60">
          <img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/phone.svg" />
          <p>+995 (32) 2 60 30 60 / *7007</p>
        </a>
        <a href="/branches">
          <img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/locations.svg" />
          <p>ფილიალები</p>
        </a>
        <a href="/info/corporate-sales">
          <img loading="lazy" width="20" height="20" decoding="async" src="/assets/footer/locations.svg" />
          <p>კორპორატიული გაყიდვები</p>
        </a>
        <p>
          <a href="Zoomerge://success=true&amp;orderId=6372">Zoommer App</a>
        </p>
      </div>
      <img src="/assets/footer/e-360.svg" class="ecommerce" />
    </div>
  </div>
  <div class="copyright">
    <div class="copyright-wrapper">
      <h5>Copyright © 2025 Zoommer.ge. All rights reserved.</h5>
    </div>
  </div>
</footer>
