@if (product) {
  <section class="product-details">
    <div class="breadcrumbs-barcode-row">
      <div class="breadcrumbs">
        <h4>მთავარი</h4>
        <img src="assets/product-details/right-path.svg" alt="right-path" />

        @for (path of product.breadcrumbs; track $index) {
          <h4>{{ path.name }}</h4>
          <img src="assets/product-details/right-path.svg" alt="right-path" />
        }
      </div>
      <div class="barcode">
        <img src="assets/product-details/share-line.svg" alt="share-line" />
        <h4>#{{ product.barCode }}</h4>
      </div>
    </div>
    <div class="product-itself">
      <div class="visual">
        <div class="product-name">
          <h4>{{ product.name }}</h4>
        </div>
        <div class="image-slider">
          <div class="heart">
            <img src="assets/product-details/heart.svg" alt="heart" />
          </div>
          <div class="slider-wrapper" (click)="toggleSlider()">
            <div class="images" [style.transform]="'translateX(' + translateX + '%)'">
              @for (imgPath of product.images; track $index) {
                <div>
                  <img [src]="imgPath" width="400" height="230" />
                </div>
              }
            </div>
          </div>
        </div>
        @if (sliderOpen) {
          <div class="slider-popup" (click)="toggleSlider()">
            <div class="popup" (click)="$event.stopPropagation()">
              <img class="ext" (click)="toggleSlider()" src="assets/product-details/mobile-modal-close.svg" />
              <img class="left-arr" (click)="previousImg(true)" src="assets/product-details/right-path-orange.svg" />
              <img class="left-right" (click)="nextImg(true)" src="assets/product-details/right-path-orange.svg" />
              <div class="main-p-slider">
                <div class="slider-wrapper">
                  <div class="images" [style.transform]="'translateX(' + translateXPopup + '%)'">
                    @for (imgPath of product.images; track $index) {
                      <div>
                        <img [src]="imgPath" />
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="bottom-p-slider">
                @for (imgPath of product.images; track $index) {
                  <div
                    (click)="moveToSpecific($index, true)"
                    class="image"
                    [style.border]="imageIndexPopup == $index ? '1px solid #ec5e2a' : '1px solid #eaeaea'"
                  >
                    <img [src]="imgPath" />
                  </div>
                }
              </div>
            </div>
          </div>
        }
        <div class="all-image-slider">
          <img
            [style.visibility]="imageIndex == 0 ? 'hidden' : 'visible'"
            (click)="previousImg(false)"
            class="left-arr"
            src="assets/product-details/slider-left-btn.svg"
          />
          <img
            [style.visibility]="imageIndex == product.images.length - 1 ? 'hidden' : 'visible'"
            (click)="nextImg(false)"
            class="right-arr"
            src="assets/product-details/slider-right-btn.svg"
          />
          @for (imgPath of product.images; track $index) {
            <div
              (click)="moveToSpecific($index, false)"
              class="image"
              [style.border]="imageIndex == $index ? '1px solid #ec5e2a' : 'none'"
            >
              <img [src]="imgPath" />
            </div>
          }
        </div>
      </div>
      <div class="specifications">
        <div class="main-specifications">
          @for (mainSpec of product.mainSpecification; track $index) {
            <div>
              <h4 class="specification-name">{{ mainSpec.specificationName }}</h4>
              <h4 class="specification-meaning">{{ mainSpec.specificationMeaning }}</h4>
            </div>
          }
        </div>
        <div class="key-specifications">
          @for (spec of product.keySpecification; track $index) {
            @if (spec.isColor) {
              <div class="color">
                <div class="current-color">
                  <h4>
                    {{ spec.specificationName }}: <span>{{ spec.specificationMeaning }}</span>
                  </h4>
                </div>
                <div class="colors">
                  @for (color of spec.specificationMeaningsList; track $index) {
                    <div [style.backgroundColor]="color.value" [routerLink]="'/' + color.route">
                      @if (color.isSelected) {
                        <img src="assets/product-details/color-elipse.svg" />
                      }
                    </div>
                  }
                </div>
              </div>
            }
          }

          @for (spec of product.keySpecification; track $index) {
            @if (!spec.isColor) {
              <div class="key-spec">
                <div class="current-spec">
                  <h4>
                    {{ spec.specificationName }}: <span>{{ spec.specificationMeaning }}</span>
                  </h4>
                </div>
                <div class="specs">
                  @for (memory of spec.specificationMeaningsList; track $index) {
                    <div
                      [routerLink]="'/' + memory.route"
                      [style.background]="memory.isSelected ? '#ec5e2a' : 'transparent'"
                      [style.border]="memory.isSelected ? '1px solid #ec5e2a' : '1px solid #000'"
                      [style.opacity]="memory.isSelected ? '1' : '0.5'"
                    >
                      <h4 [style.color]="memory.isSelected ? '#fff' : '#000'">
                        {{ memory.value }}
                      </h4>
                    </div>
                  }
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
    <div class="bundles">
      <div class="bundles-row">
        <h4>ერთად იაფია</h4>
        <div class="add-item">
          <img src="assets/product-details/add-item.svg" />
          <h5>დაამატე ნივთი</h5>
        </div>
      </div>
      <div class="bundle-products">
        <div class="b-product">
          <img class="b-product-image" [src]="product.imageUrl" />
          <div class="b-product-info">
            <h4>{{ product.name }}</h4>
            <div class="b-product-price">
              <h4>{{ product.price }} ₾</h4>
            </div>
          </div>
        </div>

        @for (bundle of product.bundles; track $index) {
          <div class="bundle-product">
            <a class="image-wrapper" [routerLink]="'/' + bundle.route">
              <img class="bundle-image" [src]="bundle.productUrl" />
            </a>
            <div class="bundle-info">
              <a [routerLink]="'/' + bundle.route" class="bundle-name">
                <h4>{{ bundle.productName }}</h4>
              </a>
              <div class="bundle-price">
                <h4>{{ bundle.productSalePrice }} ₾</h4>
                @if (bundle.productPrice) {
                  <h5 class="previous-price">{{ bundle.productPrice }} ₾</h5>
                }
              </div>
            </div>
            <div class="bundle-icons">
              <img (click)="removeBundle($index)" src="assets/product-details/remove-grey.svg" />
              <img src="assets/product-details/edit-grey.svg" />
            </div>
          </div>
        }

        <div class="bundle-buy">
          <div class="bundle-price-sum">
            <h4 class="total">ჯამური ფასი ({{ product.bundles.length }})</h4>
            <div class="bundle-total-price">
              <h3 class="btp-sale">{{ bundleTotalSalePrice }} ₾</h3>
              <h4 class="btp-total">{{ bundleTotalPrice }} ₾</h4>
            </div>
          </div>
          <div class="bundle-buy-btns">
            <div class="cart">
              <img src="assets/product-details/cart-small.svg" />
            </div>
            <div class="bundle-buy-btn">
              <h4 class="bbb-text">ყიდვა</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sections-row">
      <div class="row-wrapper">
        @if (product.similarProductsList.length > 0) {
          <a (click)="scrollTo('accessories')">
            <h4>აქსესუარები</h4>
          </a>
        }
        @if (product.bundles.length > 0) {
          <a (click)="scrollTo('similar')">
            <h4>მსაგვსი</h4>
          </a>
        }
        @if (product.specificationGroup.length > 0) {
          <a (click)="scrollTo('specifications')">
            <h4>მახასიათებლები</h4>
          </a>
        }
        <a>
          <h4>განხილვა</h4>
        </a>
        <a>
          <h4>ფილიალები</h4>
        </a>
      </div>
    </div>
    @if (product.accessories.length > 0) {
      <div id="accessories">
        <div class="accessories-slider">
          <div class="accessories-slider-wrapper" [style.transform]="'translateX(' + translateXAccesory + '%)'">
            @for (accessory of product.accessories; track $index) {
              <div class="accessory-container">
                <div class="accessory">
                  <a [routerLink]="'/' + accessory.route" class="image">
                    <img [src]="accessory.productUrl" />
                    @if (product.labelText) {
                      <div class="best">{{ accessory.labelText }}</div>
                    }
                  </a>
                  <div
                    [routerLink]="'/' + accessory.route"
                    class="description"
                    [style.justifyContent]="roundPrice(accessory.productPrice) > 0 ? 'flex-start' : 'space-between'"
                  >
                    <div class="price">
                      <h4 [style.color]="accessory.productSalePrice ? '#ec5e2a' : '#000'">
                        {{ accessory.productPrice }} ₾
                      </h4>
                      @if (accessory.productSalePrice) {
                        <span>{{ accessory.productPrice }} ₾</span>
                      }
                    </div>
                    @if (roundPrice(accessory.productPrice) > 0) {
                      <p>
                        თვეში:
                        <span>{{ roundPrice(accessory.productPrice) }} ₾</span>
                        -დან
                      </p>
                    }
                    <a>{{ accessory.productName }}</a>
                  </div>
                  <div class="buy">
                    <div class="compare">
                      <img src="assets/product-catalog/compare-card.svg" />
                    </div>
                    <div class="add">
                      <img src="assets/product-catalog/cart-button.svg" />
                      <h4>დამატება</h4>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
          <img class="arr-left" (click)="previousAccessory()" src="assets/product-details/slider-left-btn.svg" />
          <img class="arr-right" (click)="nextAccessory()" src="assets/product-details/slider-right-btn.svg" />
        </div>
      </div>
    }
    @if (product.similarProductsList.length > 0) {
      <div id="similar">
        <div class="similar-title">
          <h2>მსგავსი პროდუქტები</h2>
        </div>
        <div class="similar-slider">
          <div class="similar-slider-wrapper" [style.transform]="'translateX(' + translateXSimilar + '%)'">
            @for (similar of product.similarProductsList; track $index) {
              <div class="similar-container">
                <div class="similar">
                  <a [routerLink]="'/' + similar.route" class="image">
                    <img [src]="similar.imageUrls[0]" />
                    @if (product.labelText) {
                      <div class="best">{{ similar.labelText }}</div>
                    }
                  </a>
                  <div
                    [routerLink]="'/' + similar.route"
                    class="description"
                    [style.justifyContent]="roundPrice(similar.price) > 0 ? 'flex-start' : 'space-between'"
                  >
                    <div class="price">
                      <h4 [style.color]="similar.previousPrice ? '#ec5e2a' : '#000'">{{ similar.price }} ₾</h4>
                      @if (similar.previousPrice) {
                        <span>{{ similar.price }} ₾</span>
                      }
                    </div>
                    @if (roundPrice(similar.price) > 0) {
                      <p>
                        თვეში:
                        <span>{{ roundPrice(similar.price) }} ₾</span>
                        -დან
                      </p>
                    }
                    <a>{{ similar.productName }}</a>
                  </div>
                  <div class="buy">
                    <div class="compare">
                      <img src="assets/product-catalog/compare-card.svg" />
                    </div>
                    <div class="add">
                      <img src="assets/product-catalog/cart-button.svg" />
                      <h4>დამატება</h4>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
          <img class="arr-left" (click)="previoussimilar()" src="assets/product-details/slider-left-btn.svg" />
          <img class="arr-right" (click)="nextsimilar()" src="assets/product-details/slider-right-btn.svg" />
        </div>
      </div>
    }
    <div id="specifications">
      <div class="specifications-title">
        <h4>დამატებითი მახასიათებლები</h4>
      </div>
      @if (isViewReady) {
        <div class="spec-wrapper">
          <div class="see-more-wrapper">
            <div appScaleOnClick class="see-more" (click)="showMore = !showMore">
              @if (showMore) {
                <h4>აკეცვა</h4>
                <img [style.transform]="'rotate(180deg)'" src="assets/product-details/arrow-down-orange.svg" />
              } @else {
                <h4>მეტის ნახვა</h4>
                <img src="assets/product-details/arrow-down-orange.svg" />
              }
            </div>
          </div>
          <div
            class="specification-list"
            [class.active]="!showMore"
            [style.height]="showMore ? totalTableHeight() : '400px'"
          >
            @for (specifications of product.specificationGroup; track $index) {
              <div class="specification" [style.marginBottom]="specifications.isActive ? '40px' : '10px'">
                <div class="spec-title">
                  <h4>{{ specifications.groupName }}</h4>
                  <img
                    (click)="specifications.isActive = !specifications.isActive; swapHeight($index)"
                    src="assets/product-details/arrow-up-black.svg"
                    [style.transform]="specifications.isActive ? 'rotate(180deg)' : 'rotate(0deg)'"
                  />
                </div>

                <div
                  #tableWrapper
                  class="table-wrapper"
                  [style.height]="specifications.isActive ? `${tableHeights[$index]}px` : '0px'"
                >
                  <table class="table">
                    @for (specifiation of specifications.specifications; track $index) {
                      <tbody class="table-body">
                        <tr class="table-row">
                          <td class="spec-name">
                            <h4>{{ specifiation.specificationName }}:</h4>
                          </td>
                          <td class="spec-meaning">
                            <h4>{{ specifiation.specificationMeaning }}</h4>
                          </td>
                        </tr>
                      </tbody>
                    }
                  </table>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
    <div class="about">
      <div class="about-t">
        <h4>გაეცანი საგარანტიო პირობებს</h4>
        <div appScaleOnClick (click)="toggleWarranty()" class="warranty-btn about-b">
          <h4>საგარანტიო პირობები</h4>
        </div>
      </div>
      <div class="about-t">
        <h4>გაეცანი პროდუქტის სახელმძღვანელოს</h4>
        <div appScaleOnClick (click)="openExternalLink(product.manualsFileUrl)" class="manual-btn about-b">
          <h4>პროდუქტის სახელმძღვანელო</h4>
        </div>
      </div>
      <div class="about-t">
        <h4>გაეცანი სერტიფიკატს</h4>
        <div appScaleOnClick (click)="openExternalLink(product.certificateFileUrl)" class="certificatie-btn about-b">
          <h4>სერტიფიკატი</h4>
        </div>
      </div>
      @if (warrantyOpen) {
        <div class="warranty-popup" (click)="toggleWarranty()">
          <div class="warranty-wrapper" (click)="$event.stopPropagation()">
            <div class="warranty">
              <img class="ext" (click)="toggleWarranty()" src="assets/product-details/mobile-modal-close.svg" />
              <div class="warranty-title">
                <h4>საგარანტიო პირობები</h4>
              </div>
              <div class="warranty-read">
                <div class="p-wrapper">
                  <h4 class="p-title">საგარანტიო მომსახურება:</h4>
                  <p class="p-text">
                    - საგარანტიო მომსახურება გულისხმობს საქართველოს კანონმდებლობის საფუძველზე მომხმარებლის უფლებას,
                    ნივთის შეძენიდან 2 (ორი) წლის განმავლობაში მოითხოვოს მისი უსასყიდლოდ შეკეთება ან შეცვლა ან
                    ხელშეკრულებიდან გასვლა, ფასის შემცირება, თუ საგარანტიო ვადის განმავლობაში ნივთი ნაკლის მქონე
                    აღმოჩნდა. თუ საქონელი აღმოჩნდა ნაკლის მქონე მომხმარებლის მიერ საქონლის მფლობელობაში მიღებიდან ექვსი
                    თვის ვადაში, მაშინ საწინააღმდეგოს დამტკიცებამდე ივარაუდება, რომ ნაკლი არსებობდა საქონლის
                    მიწოდებისას, თუ საქონლის ბუნებიდან ან ნაკლის ხასიათიდან გამომდინარე ეს შესაძლებელია. ამ შემთხვევაში,
                    მტკიცების ტვირთი ეკისრება მოვაჭრეს. თუ მომხმარებელმა საქონლის ნაკლი საქონლის მფლობელობაში მიღებიდან
                    ექვსი თვის შემდეგ აღმოაჩინა, იმის მტკიცების ტვირთი, რომ ნაკლი არსებობდა საქონლის მიწოდებისას,
                    მომხმარებელს ეკისრება.
                  </p>
                  <p class="p-text">
                    - მომხმარებელს უფლება აქვს, "ზუმერი ჯორჯიას" მოსთხოვოს ნივთის უსასყიდლოდ შეკეთება ან შეცვლა, გარდა
                    იმ შემთხვევისა, როდესაც ეს, ნივთის ბუნებიდან გამომდინარე, შეუძლებელია ან არათანაზომიერ ან შეუსაბამოდ
                    დიდ ხარჯს მოითხოვს.
                  </p>
                  <p class="p-text">
                    - ნივთი შეკეთებული ან შეცვლილი უნდა იქნეს გონივრულ ვადაში, რომელიც არ უნდა აღემატებოდეს 15 სამუშაო
                    დღეს. იმ შემთხვევაში, თუ ნივთის შეკეთებისათვის საჭიროა სათადარიგო ნაწილის საზღვარგარეთ შეძენა ან
                    ნივთის გაგზავნა საზღვარგარეთ მწარმოებლის ავტორიზებულ სერვის ცენტრში, მაშინ შეკეთების ვადა შეადგენს
                    30 სამუშაო დღეს.
                  </p>
                  <p class="p-text">
                    - ნივთის უსასყიდლოდ შეკეთება ან შეცვლა გულისხმობს "ზუმერი ჯორჯიას" მიერ ყველა ხარჯის (მათ შორის,
                    ფოსტის, სამუშაო ძალისა და მასალების ხარჯების) გაწევას, რომლებიც საჭიროა ნივთის ხელშეკრულებით
                    გათვალისწინებულ პირობებთან შესაბამისობის უზრუნველსაყოფად.
                  </p>
                  <p class="p-text">
                    - მომხმარებელს უფლება აქვს, მოითხოვოს ნივთის ფასის შემცირება ან უარი თქვას ხელშეკრულებაზე, თუ
                    არსებობს ერთ-ერთი შემდეგი პირობა:<br />* საქონლის შეკეთება ან შეცვლა შეუძლებელია გონივრულ ვადაში;<br />*
                    "ზუმერი ჯორჯიამ" ნივთი გონივრულ ვადაში არ შეაკეთა ან არ შეცვალა და მომხმარებელმა ხელშეკრულების
                    შესრულებისადმი ინტერესი დაკარგა;<br />* "ზუმერი ჯორჯიას" მიერ საქონლის შეკეთება ან შეცვლა
                    მომხმარებელს მნიშვნელოვან შეფერხებას შეუქმნის.
                  </p>
                  <p class="p-text">
                    - მომხმარებელს უფლება აქვს, ხელშეკრულებიდან გასვლის შემთხვევაში მოითხოვოს ხელშეკრულების
                    შეუსრულებლობით მიყენებული ზიანის ანაზღაურება საქართველოს კანონმდებლობით დადგენილი წესით.
                  </p>
                  <p class="p-text">
                    - მომხმარებელს არ აქვს უფლება, უარი თქვას ხელშეკრულებაზე, თუ საქონლის ნაკლი უმნიშვნელოა.
                  </p>
                  <p class="p-text">
                    - იმის განსაზღვრისას, თუ რამდენად არათანაზომიერია ან შეუსაბამოდ დიდია ხარჯი, გათვალისწინებული უნდა
                    იქნეს შემდეგი პირობები:<br />
                    ა&#41; ნივთის ან მომსახურების ფასი მისი ხელშეკრულებით გათვალისწინებულ პირობებთან შესაბამისობის
                    შემთხვევაში<br />
                    ბ&#41; ნივთის ან მომსახურების ხელშეკრულებით გათვალისწინებულ პირობებთან შეუსაბამობის ხარისხი;<br />
                    გ&#41; ნივთის ნაკლის მომხმარებლისთვის შეფერხების შექმნის გარეშე აღმოფხვრის ალტერნატიული
                    შესაძლებლობა.
                  </p>
                  <p class="p-text">საგარანტიო მომსახურებას ახორციელებს შპს "ტექნოლაინი"</p>
                </div>
                <div class="p-wrapper">
                  <h4 class="p-title">საგარანტიო მომსახურება არ ხორციელდება|უქმდება, თუ:</h4>
                  <p class="p-text">- გასულია საგარანტიო ვადა;</p>
                  <p class="p-text">
                    - საგარანტიო ბარათი არ არის წარმოდგენილი / დაკარგულია და სხვაგვარად ვერ ხდება შეძენის
                    იდენტიფიცირება;
                  </p>
                  <p class="p-text">- პროდუქტზე მონაცემები წაშლილი, შეცვლილი ან გადაკეთებულია;</p>
                  <p class="p-text">- ნივთზე არ იკითხება / ამძვრალია სერიული ნომერი /იმეი კოდი;</p>
                  <p class="p-text">- დაზიანებულია ან ამძვრალია პლომბი ან ლუქი;</p>
                  <p class="p-text">- მოწყობილობას აღენიშნება ვიზუალური ან მექანიკური დეფექტი / დაზიანება;</p>
                  <p class="p-text">- მოწყობილობა გამოიყენებოდა მისი დანიშნულების შეუსაბამო მიზნით;</p>
                  <p class="p-text">- მოწყობილობა დაშლილია (გახსნილია) თვითნებური შეკეთების ან რაიმე სხვა მიზნით;</p>
                  <p class="p-text">- დაზიანება გამოწვეულია კომპიუტერული ვირუსის ან შეუსაბამო ფაილების მიერ;</p>
                  <p class="p-text">- დაზიანება გამოწვეულია მექანიზმში უცხო სხეულის ან სითხეების შეღწევით;</p>
                  <p class="p-text">
                    - დაზიანება გამოწვეულია ექსპლუატაციის და შენახვის წესების და პირობების დარღვევით;
                  </p>
                  <p class="p-text">
                    - თუ მობილურ ტელეფონზე, პლანშეტზე, ფოტოაპარატზე, პროექტორზე, მონიტორზე, ტელევიზორზე ჩამქრალია
                    მწარმოებლის მიერ დადგენილი რაოდენობის პიქსელი.
                  </p>
                  <p class="p-text">
                    მომსახურე სერვის ცენტრი პასუხს არ აგებს მოწყობილობაში მომხმარებლის მიერ განთავსებული ინფორმაციის
                    შენახვაზე.
                  </p>
                </div>
                <div class="p-wrapper">
                  <h4 class="p-title">კომერციული გარანტიის პირობები</h4>
                  <p class="p-text">
                    ამ თავით კომპანიის მიერ განსაზღვრული წესები არ ზღუდავს მომხმარებლის უფლებას ისარგებლოს კანონით
                    დადგენილი 2 წლიანი გარანტიის პირობით.
                  </p>
                  <p class="p-text">ნივთი შეიცვლება შემდეგ შემთხვევებში:</p>
                  <p class="p-text">
                    - თუ ნივთს გახსნისთანავე, ყიდვის მომენტში, "ზუმერი ჯორჯიას" წარმომადგენლის თანდასწრებით დაუფიქსირდა
                    ვიზუალური დეფექტი;*
                  </p>
                  <p class="p-text">
                    - თუ შეძენილ ნივთს შეძენიდან 7 (შვიდი) კალენდარული დღის ვადაში აღმოაჩნდა ქარხნული დეფექტი (არ
                    იგულისხმება ვიზუალური დაზიანება და პროგრამული ხარვეზი), და მომხმარებლის მიერ აღნიშნულ ვადაში ნივთი
                    წარდგენილ იქნა შპს "ტექნოლაინში", "ტექნოლაინი" კი შეცვლის აქტით ადასტურებს ნივთის ქარხნულ დეფექტს;
                  </p>
                  <p class="p-text">
                    - თუ ნივთი ვერ შეკეთდა "ტექნოლაინში" მისი საგარანტიო ვადაში წარდგენიდან გონივრულ ვადაში, მაგრამ
                    არაუმეტეს 15 სამუშაო დღისა; იმ შემთხვევაში, თუ ნივთის შეკეთებისათვის საჭიროა სათადარიგო ნაწილის
                    საზღვარგარეთ შეძენა ან ნივთის გაგზავნა საზღვარგარეთ მწარმოებლის ავტორიზებულ სერვის ცენტრში, მაშინ
                    შეკეთების ვადა შეადგენს 30 სამუშაო დღეს.
                  </p>
                  <p class="p-text">
                    - ნივთის შეცვლა ხდება იგივე ან მეტი (მომხმარებლის მიერ განსხვავების დამატებითი გადახდით) ღირებულების
                    ნივთის გადაცვლით, რომელიც შეცვლის მომენტში "ზუმერი ჯორჯიას" გაყიდვაშია. ნივთის ღირებულება
                    განისაზღვრება მომხმარებლის მიერ მისი შეძენისას გადახდილი ფასიდან.
                  </p>
                </div>
                <div class="p-wrapper">
                  <h4 class="p-title">დისტანციურად შეძენილი საქონლის უკან დაბრუნების პირობები</h4>
                  <p class="p-text">
                    - მომხმარებლის მიერ ნივთის დისტანციური ხელშეკრულების ან სარეწის გარეთ დადებული ხელშეკრულების
                    საფუძველზე შეძენისას, მომხმარებელს უფლება აქვს, ყოველგვარი საფუძვლის მითითების გარეშე თქვას უარი
                    დისტანციურ ხელშეკრულებაზე ან/და სარეწის გარეთ დადებულ ხელშეკრულებაზე 14 კალენდარული დღის
                    განმავლობაში. ასეთ შემთხვევაში, მომხმარებელი ვალდებულია საკუთარი ხარჯით (ნივთის ტრანსპორტირება,
                    დემონტაჟი და სხვა) დაუბრუნოს ნივთი "ზუმერი ჯორჯიას" თუ ნივთის ღირებულება აღემატება 30 ლარს.
                  </p>
                  <p class="p-text">
                    - ნივთის უკან დაბრუნების დეტალური პირობებისა და ფორმის სანახავად, გთხოვთ ეწვიოთ ბმულს:
                    <a href="https://zoommer.ge/nivtis-dabruneba" style="color: rgb(0, 122, 255)"
                      >https://zoommer.ge/nivtis-dabruneba</a
                    >. შევსებული ფორმა უნდა გაიგზავნოს შემდეგ მისამართზე:
                    <a href="mailto:info@zoommer.ge" style="color: rgb(0, 122, 255)">info&#64;zoommer.ge</a>
                  </p>
                  <p class="p-text">
                    * თუ ნივთი ვიზუალურად არ დათვალიერდა მომხმარებლის მოთხოვნით, კომპანია იხსნის პასუხისმგებლობას ნივთის
                    ვიზუალურ დაზიანებაზე;
                  </p>
                </div>
                <div class="p-wrapper">
                  <h4 class="p-title">ზოგადი რეკომენდაცია</h4>
                  <p class="p-text">
                    გთხოვთ, დაათვალიეროთ ვიზუალურად თქვენ მიერ შეძენილი ნივთი ყიდვის მომენტში რადგან ნივთი, რომელსაც
                    თქვენ იძენთ, მომავალში შეიცვლება მხოლოდ თავდაპირველი ნაკლის აღმოჩენის შეთხვევაში.
                  </p>
                  <p class="p-text">
                    გთხოვთ, გაითვალისწინოთ, რომ ელექტრო მოწყობილობის წყალში/სითხეში მოთავსება რეკომენდებული არ არის.
                    აღნიშნული გაფრთხილება ეხება იმ მოდელებსაც, რომლებზეც მწარმოებელი კომპანია ადასტურებს, რომ არის
                    „წყალგამძლე". იმისთვის, რომ მოწყობილობაში წყალი/სითხე არ შევიდეს, საჭიროა მწარმოებელი კომპანიის
                    მოთხოვნების ზედმიწევნით დაცვა, წინააღმდეგ შემთხვევაში მოწყობილობაში ხვდება სითხე/წყალი.
                    მოწყობილობაში წყლის სითხის შეღწევის შემთხვევაში კომპანია იხსნის ვალდებულებას მოწყობილობის შემდგომ
                    საგარანტიო მომსახურეობაზე. გთხოვთ, არ დატოვოთ საჭიროზე მეტი ხნით თქვენი მოწყობილობა დამტენზე.
                  </p>
                  <p class="p-text">
                    დამატებითი დამტენი ბლოკის შეძენისას დარწმუნდით, რომ ახალი დამტენი ბლოკის ვოლტაჟი (V–იგივე) და
                    ამპერაჟი (A-იგივე ან მეტი) ემთხვევა თქვენი ნივთის ვოლტაჟს და ამპერაჟს. იმისთვის, რომ თქვენმა
                    მოწყობილობამ იმუშაოს გამართულად, გთხოვთ, გამოიყენოთ ლიცენზირებული ოპერაციული სისტემა, საოფისე და
                    სხვა პროგრამები. თუ აპირებთ ლეპტოპში მეხსიერების ან ოპერატიული მეხსიერების დამატებას/გაზრდას,
                    გთხოვთ, დაუკავშირდეთ მწარმოებლის ავტორიზებულ სერვის ცენტრს. მხოლოდ მათი დახმარებით უნდა
                    განხორციელდეს ამა თუ იმ ნაწილის შეცვლა თქვენი სურვილისამებრ.
                  </p>
                  <p class="p-text">შენიშვნა:</p>
                  <p class="p-text">
                    *** საგარანტიო პერიოდის განმავლობაში, ნებისმიერი თავდაპირველი ნაკლის შემთხვევაში, გთხოვთ, მიმართოთ
                    მხოლოდ სერვის ცენტრს.
                  </p>
                  <p class="p-text">
                    *** ფილიალს არ აქვს პროდუქციის შეცვლის/ დაბრუნების უფლება შპს „ტექნოლაინის“ მიერ გაცემული დასკვნის
                    გარეშე.
                  </p>
                </div>
                <div class="p-wrapper">
                  <h4 class="p-title">საგარანტიო მომსახურება:</h4>
                  <p class="p-text">„ შპს ტექნოლაინი“</p>
                  <p class="p-text">თბილისი: ს. ცინცაძის 26 . ტელ: (032) 230 40 80</p>
                  <p class="p-text">
                    ბათუმი: ი. ჭავჭავაძისა და დემეტრე თავდადებულის კვეთა. ტელ: 557082332 ზუგდიდი: კოსტავას ქუჩა, N 28 .
                    ტელ: 555412312
                  </p>
                  <p class="p-text">ქუთაისი: ი. ჭავჭავაძის N 67, სავაჭრო ცენტრი გრანდ მოლი, N317 ტელ: 591082312</p>
                  <br />
                  <p class="p-text">
                    მომსახურებასთან დაკავშირებული კითხვების შემთხვევაში მოგვმართეთ შპს „ზუმერი ჯორჯიას“ ცხელ ხაზზე -
                    *7007 ან (032) 2 60 30 60
                  </p>
                  <p class="p-text">
                    ელ.ფოსტა:
                    <a href="mailto:info@zoommer.ge" style="color: rgb(0, 122, 255)">info&#64;zoommer.ge</a>
                  </p>
                  <p class="p-text">ს/კ: 202462717</p>
                  <p class="p-text">მისამართი: ქ.თბილისი, ცაბაძის ქ.#8</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="availability">
      <div class="availability-top-row">
        <h4>ფილიალები</h4>
        <div class="availability-type">
          <div class="type" (click)="availabilityType = false">
            @if (!availabilityType) {
              <img src="assets/product-details/gift-checked.svg" />
            } @else {
              <img src="assets/product-details/rectangle-orange.svg" />
            }
            <h4>მარაგშია</h4>
          </div>
          <div class="type" (click)="availabilityType = true">
            @if (availabilityType) {
              <img src="assets/product-details/gift-checked.svg" />
            } @else {
              <img src="assets/product-details/rectangle-orange.svg" />
            }
            <h4>შეკვეთიდან 2-5 დღეში</h4>
          </div>
        </div>
      </div>
      <div
        class="availability-content"
        [style.height]="showMoreA ? `${(availabilityInStores.length + 1) * 102 + 68}px` : '330px'"
      >
        @for (store of availabilityInStores; track $index) {
          <div class="store">
            <div class="address">
              <h4>{{ store.branchName }}</h4>
              <p>{{ store.city }} - {{ store.address }}</p>
              <h4>{{ store.inStock ? 'მარაგშია' : 'არ არის მარაგში' }}</h4>
            </div>
            <div class="times">
              <h4>{{ store.phoneNumber }}</h4>
              <h5>ორშ-შაბ:{{ store.workingHoursMonToSat }}</h5>
              <h5>კვირა{{ store.workingHoursSun }}</h5>
            </div>
          </div>
        }
      </div>
      <div appScaleOnClick class="see-more-a" (click)="showMoreA = !showMoreA">
        @if (showMoreA) {
          <h4>აკეცვა</h4>
          <img [style.transform]="'rotate(180deg)'" src="assets/product-details/arrow-down-orange.svg" />
        } @else {
          <h4>მეტის ნახვა</h4>
          <img src="assets/product-details/arrow-down-orange.svg" />
        }
      </div>
    </div>
  </section>
  <aside>
    <div class="aside-wrapper">
      <div class="price">
        <div class="price-m">
          <h4 class="bf">{{ product.price }} ₾</h4>
          @if (product.previousPrice) {
            <h4 class="af">{{ product.previousPrice }} ₾</h4>
          }
        </div>
        <p>
          თვეში: <span>{{ (product.price / 36).toFixed(1) }} ₾</span> -დან
        </p>
      </div>
      <div class="utils">
        <div>
          <img src="assets/product-details/branch.svg" alt="" />
          <h5>მარაგი ფილიალებში</h5>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="none"
            viewBox="0 0 18 18"
            class="priceInsured ? 'active-reservation' : ''"
          >
            <path
              stroke="#515458"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M15.682 8.34c0 3.668-2.662 7.103-6.3 8.108a1.47 1.47 0 0 1-.765 0c-3.637-1.005-6.3-4.44-6.3-8.108V5.047c0-.615.465-1.312 1.043-1.545l4.177-1.71a3.9 3.9 0 0 1 2.933 0l4.177 1.71c.57.233 1.043.93 1.043 1.545z"
            ></path>
            <path
              stroke="#515458"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              stroke-width="1.5"
              d="M9 9.375a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M9 9.375v2.25"
            ></path>
          </svg>
          <h5>ფასის დაზღვევა</h5>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="none"
            viewBox="0 0 18 18"
            class="priceControlled ? 'active-price-controll' : ''"
          >
            <path
              stroke="#515458"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M11.685 9c0 1.485-1.2 2.685-2.685 2.685A2.68 2.68 0 0 1 6.315 9c0-1.485 1.2-2.685 2.685-2.685s2.685 1.2 2.685 2.685"
            ></path>
            <path
              stroke="#515458"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M9 15.203c2.647 0 5.115-1.56 6.832-4.26.675-1.058.675-2.835 0-3.893C14.115 4.35 11.647 2.79 9 2.79S3.885 4.35 2.167 7.05c-.675 1.058-.675 2.835 0 3.893 1.718 2.7 4.185 4.26 6.833 4.26"
            ></path>
          </svg>
          <h5>ფასის კონტროლი</h5>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="none"
            viewBox="0 0 18 18"
            class="priceReserved ? 'active-reservation' : ''"
          >
            <path
              stroke="#515458"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M4.5 7.5V6c0-2.482.75-4.5 4.5-4.5s4.5 2.018 4.5 4.5v1.5M9 13.875a1.875 1.875 0 1 0 0-3.75 1.875 1.875 0 0 0 0 3.75"
            ></path>
            <path
              stroke="#515458"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M12.75 16.5h-7.5c-3 0-3.75-.75-3.75-3.75v-1.5c0-3 .75-3.75 3.75-3.75h7.5c3 0 3.75.75 3.75 3.75v1.5c0 3-.75 3.75-3.75 3.75"
            ></path>
          </svg>
          <h5>ფასის დაჯავშნა</h5>
        </div>
      </div>
      <div class="buy">
        <button type="button">ყიდვა</button>
        <div>
          <button>
            <img src="assets/product-details/compare.svg" alt="" />
            <h4>შედარება</h4>
          </button>
          <button>
            <img src="assets/product-details/cart-button.svg" alt="" />
            <h4>დამატება</h4>
          </button>
        </div>
      </div>
    </div>
  </aside>
}
